<div id="nav-title">
    <a href="../index.html">Deep Vision</a> Admin
</div>
<ul id="sidebar">
    <li class="sidebar-section">
        <div class="sidebar-section-title">通用</div>
        <ul class="sidebar-section-content">
            <li id="href-index">
                <a href="index.html">
                    <i class="fa fa-tachometer"></i>仪表盘
                </a>
            </li>
            <li id="href-account">
                <a href="account.html">
                    <i class="fa fa-user"></i>我的账户
                </a>
            </li>
            <!--
            <li id="href-user">
                <a href="user.html">
                    <i class="fa fa-envelope-o"></i>用户管理
                </a>
            </li>
            -->
            <li id="href-review">
                <a href="review.html">
                    <i class="fa fa-envelope-o"></i>用户反馈 <!-- 获得所有用户的反馈 不删除／修改反馈 -->
                </a>
            </li>
            <li>
                <a href="#" onclick="User.logout()">
                    <i class="fa fa-sign-out"></i>登出
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-section">
        <div class="sidebar-section-title">项目管理</div>
        <ul class="sidebar-section-content">
            <li id="href-edit-project">
                <a href="project_edit.html">
                    <i class="fa fa-picture-o"></i>新建/编辑项目 <!-- 新建客户项目 编辑 -->
                </a>
            </li>
            <li id="href-manage-project">
                <a href="project_manage.html">
                    <i class="fa fa-list-ul"></i>项目管理 <!-- 浏览所有项目 -->
                </a>
            </li>
            <li id="href-manage-progress">
                <a href="progress_manage.html">
                    <i class="fa fa-list-ul"></i>进度管理 <!-- 创建项目进度 -->
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-section">
        <div class="sidebar-section-title">演员管理</div>
        <ul class="sidebar-section-content">
            <li id="href-edit-recruit">
                <a href="recruit_edit.html">
                    <i class="fa fa-file-text-o"></i>新建/编辑招募
                </a>
            </li>
            <li id="href-manage-recruit">
                <a href="recruit_manage.html">
                    <i class="fa fa-archive"></i>管理招募
                </a>
            </li>
            <li id="href-actor">
                <a href="actor.html">
                    <i class="fa fa-comments"></i>管理演员
                </a>
            </li>
        </ul>
    </li>
</ul>
