<!DOCTYPE html>
<html>
    <head>
        <title>Deep Vision - Admin Dashboard</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/lib/font-awesome.css" />
        <link rel="stylesheet" href="../css/admin/basic.css" />
        <script src="../js/lib/jquery.js"></script>
        <script src="../js/util.js"></script>
        <script>const PAGE = "actor"</script>

        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

        <style>
            table img {
                width: 40px;
            }
        </style>
    </head>
    <body>
        <nav>
            <% include view/sidebar.html %>
        </nav>
        <main>
            <div id="main-title">
                群演报名
                <button>群发信息</button>
            </div>
            <div id="main-frame">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <!-- <th>星标</th> -->
                            <th>头像</th>
                            <th>昵称</th>
                            <th>真实姓名</th>
                            <th>性别</th>
                            <th>邮箱</th>
                            <th>手机</th>
                            <th>角色</th>
                            <th>查看</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (actors.length == 0) { %>
                            <tr>
                                <td>当前没有演员报名</td>
                            </tr>
                        <% } else { %>
                            <% actors.forEach(function (actor, i) { %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><img src="<%= actor["avatar"] %>"/></td>
                                    <td><%= actor["nickname"] %></td>
                                    <td><%= actor["name"] %></td>
                                    <td><%= (actor["sex"] == 0) ? "女" : "男" %></td>
                                    <td><%= actor["email"] %></td>
                                    <td><%= actor["phone"] %></td>
                                    <td><%= (actor["role"] == 0) ? "主角" : (actor["role"] == 1) ? "配角" : "群演" %></td>
                                    <td>
                                        <button onclick="loadUser('<%= actor["UUID"] %>')">详情</button>
                                    </td>
                                    <td>
                                        <button onclick="loadSend"
                                    </td>
                                </tr>
                            <% }); %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
    <script src="../js/admin/basic.js"></script>
    <script>
        $(function () {
            // ArticleList.initiate();
            // ApplicationList.initiate();
            // $('#filter').DataTable();
        });
        
        function loadUser(UUID) {
            
        }
    </script>
</html>
