<!DOCTYPE html>
<html>
    <head>
        <title>Deep Vision - Admin Dashboard</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/lib/font-awesome.css" />
        <link rel="stylesheet" href="../css/admin/basic.css" />
        <script src="../js/lib/jquery.js"></script>
        <script>const PAGE = "manage-project"</script>
    </head>
    <body>
        <nav>
            <% include view/sidebar.html %>
        </nav>
        <main>
            <div id="main-title">管理项目</div>
            <div id="main-frame">
                <% if (projects == undefined) { %>
                    <div class="empty">数据库错误</div>
                <% } else if (projects.length == 0) {%>
                    <div class="empty">空</div>
                <% } else { %>
                    <table id="article-table">
                        <tr>
                            <th>ID</th>
                            <th>项目名称</th>
                            <th>发布时间</th>
                            <th>关于此项目</th>
                            <th>状态</th>
                            <th>编辑</th>
                            <th>进度</th>
                        </tr>
                        <% projects.forEach(function (project) { %>
                            <tr class="article" id="<%= project["PUID"] %>">
                                <td><%= project["id"] %></td>
                                <td><%= project["title"] %></td>
                                <td><%= project["start_date_time"] %></td>
                                <td><%= project["description"] %></td>
                                <td>
                                    <% if(project["status"]==0){ %>
                                        未开始
                                    <% } else if (project["status"]==1) { %>
                                        进行中
                                    <% } else { %>
                                        已结束
                                    <% } %>
                                </td>
                                <td>
                                    <button class="project-edit small">编辑</button>
                                </td>
                                <td>
                                    <button class="project-progress small">进度管理</button>
                                </td>
                            </tr>
                        <% }) %>
                    </table>
                <% } %>
            </div>
        </main>
    </body>
    <script src="../js/admin/basic.js"></script>
    <script>
        $(function () {
            ArticleManage.initiate();
        })

        var ArticleManage = {
            initiate: function () {
                //this.initiateStatus();
                this.initiateEdit();
                this.initiateProgress();
            },
            initiateEdit: function () {
                $(".project-edit").click(function () {
                    var PUID = $(this).parent().parent().attr("id");
                    window.location.href = "project_edit.html?a=" + PUID;
                })
            },
            initiateProgress: function () {
                $(".project-progress").click(function () {
                    var PUID = $(this).parent().parent().attr("id");
                    window.location.href = "progress_manage.html?a=" + PUID;
                })
            }
        }
    </script>
</html>
