<!DOCTYPE html>
<html>
    <head>
        <title>Deep Vision - Admin Dashboard</title>
        <link rel="stylesheet" href="../css/lib/font-awesome.css" />
        <link rel="stylesheet" href="../css/admin/basic.css" />
        <script src="../js/lib/jquery.js"></script>
        <script>const PAGE = "review"</script>
        <style>
            .avatars {
                width: 30px;
                height: auto;
            }
        </style>
    </head>
    <body>
        <nav>
            <% include view/sidebar.html %>
        </nav>
        <main>
            <div id="main-title">Dashboard</div>
            <div id="main-frame">
                <table>
                    <tr>
                        <th>头像</th>
                        <th>用户名</th>
                        <th>满意度</th>
                        <th>评价</th>
                        <th>时间</th>
                    </tr>
                    <% for(var i=0; i<reviews.length; ++i){ %>
                        <tr id="<%= i %>">
                            <td><img class="avatars" src="<%= reviews[i].avatar %>"></td>
                            <td><%= reviews[i].nickname %></td>
                            <td><%= reviews[i].points %></td>
                            <td><%= reviews[i].comment %></td>
                            <td><%= reviews[i].date_time %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </main>
    </body>
    <script src="../js/admin/basic.js"></script>
</html>
