@font-face {
  font-family:Georgia, "Times New Roman",
         "Microsoft YaHei", "微软雅黑",
         STXihei, "华文细黑", "Helvetica Neue",
         serif;
  font-size: 20px;
}
body {
    margin:0;
    padding:0;
}
#navbar {
    display: none;
}
.slicknav_menu {
    display:block;
}
