@font-face {
  font-family:Georgia, "Times New Roman",
         "Microsoft YaHei", "微软雅黑",
         STXihei, "华文细黑", "Helvetica Neue",
         serif;
  font-size: 20px;
}
body {
    margin:0;
    padding:0;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    background-color: #fafafa;
}
p {
    color: #888;
}
#navbar {
    display: none;
}
.slicknav_menu {
    display:block;
}
@media all and (max-width: 319px){
    h1 {
      font-size: 25px;
    }
}

input {
  width: 100%;
}
